version: 2

updates:
  - package-ecosystem: uv
    directory: /
    groups:
      python:
        patterns:
          - "*"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7

  - package-ecosystem: github-actions
    directory: /
    groups:
      actions:
        patterns:
          - "*"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7

  - package-ecosystem: cargo
    directories:
      - "/rust"
      - "/rust/tsp-asn1"
      - "/"
    groups:
      cargo:
        patterns:
          - "*"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
