[project]
name = "sigstore-tsp"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Rust",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "License :: OSI Approved :: Apache Software License",
]
dynamic = ["version"]
readme = "README.md"
license = { file = "LICENSE" }
authors = [{ name = "Trail of Bits", email = "opensource@trailofbits.com" }]
dependencies = [
    "maturin>=1.7,<2.0",
    # TODO(dm) Change me once this is merged upstream
    "cryptography @ git+https://github.com/trail-of-forks/cryptography.git@dc667c173ad9e43e859756c0af45c9e5296441ee"
]

[project.optional-dependencies]
doc = []
test = ["pytest", "pytest-cov", "pretend", "coverage[toml]"]
lint = ["ruff ~= 0.6.7"]
dev = ["sigstore-tsp[test,lint,doc]"]

[project.urls]
Homepage = "https://pypi.org/project/sigstore-tsp"
Documentation = "https://trailofbits.github.io/sigstore-tsp/"
Issues = "https://github.com/trailofbits/sigstore-tsp/issues"
Source = "https://github.com/trailofbits/sigstore-tsp"

[build-system]
requires = ["maturin>=1.7,<2.0"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/abi3-py39", "pyo3/extension-module"]
python-source = "src"
manifest-path = "rust/Cargo.toml"
module-name = "sigstore_tsp._rust"

[tool.ruff]
line-length = 100
include = ["src/**/*.py", "test/**/*.py", "scripts/*.py"]
target-version = "py39"

[tool.ruff.lint]
select = ["E", "F", "I", "W", "UP", "TCH"]

[tool.coverage.report]
exclude_also = [
    "if TYPE_CHECKING:",
]
