[package]
name = "tsp-asn1"
version = "0.0.1"
edition = "2021"
authors = [
    "Alexis Challande <alexis.challande@trailofbits.com>"
]
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "tsp_asn1"

[dependencies]
asn1 = "0.17"
cryptography-x509 = { git = "https://github.com/pyca/cryptography.git"}

[dev-dependencies]
hex = "0.4"