[package]
name = "rfc3161-client"
version = "0.1.0"
edition = "2021"
authors = [
    "Trail of Bits <opensource@trailofbits.com>"
]
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rfc3161_client"
crate-type = ["cdylib"]

[dependencies]
tsp-asn1 = { path = "tsp-asn1" }
pyo3 = { version = "0.23.2", features = ["abi3"] }
asn1 = "0.20"
self_cell = "1"
hex = "0.4"
sha2 = "0.10.8"
rand = "0.8.5"
cryptography-x509 = { git = "https://github.com/pyca/cryptography.git", rev = "4c72f368234e60a06e4a0beaf87be55940dd49c1" }
openssl = { version = "0.10.68", features = ["vendored"] }

[features]
extension-module = ["pyo3/extension-module"]
