[package]
name = "rfc3161-client"
version = "0.1.0"
edition = "2021"
authors = [
    "Trail of Bits <opensource@trailofbits.com>"
]
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rfc3161_client"
crate-type = ["cdylib"]

[dependencies]
tsp-asn1 = { path = "tsp-asn1" }
pyo3 = { version = "0.22.5", features = ["abi3"] }
asn1 = "0.18"
self_cell = "1"
hex = "0.4"
sha2 = "0.10.8"
rand = "0.8.5"
cryptography-x509 = { git = "https://github.com/pyca/cryptography.git", rev = "a63ca251a7aa8a5aac6153e0b69083cb05e1a6d0" }
openssl = "0.10.68"

[features]
extension-module = ["pyo3/extension-module"]
