name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5
        with:
          python-version-file: pyproject.toml

      - name: Setup rust
        uses: dtolnay/rust-toolchain@1482605bfc5719782e1267fd0c0cc350fe7646b8
        with:
          components: rustfmt
          toolchain: 1.81.0

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@e779db74266a80753577425b0f4ee823649f251d # v3.2.3
        with:
          version: "0.4.18"
          enable-cache: true
          cache-dependency-glob: pyproject.toml

      - name: lint
        run: make lint INSTALL_EXTRA=lint
